In [7]:
import numpy as np 
import pandas as pd 
import re
import string

In [10]:
data = pd.read_csv("Fake.csv")

In [11]:
data.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [12]:
data['number_of_chr'] = data['text'].str.len()

In [19]:
data[['text','number_of_chr']].head()

                                                text  number_of_chr
0  Donald Trump just couldn t wish all Americans ...           2893
1  House Intelligence Committee Chairman Devin Nu...           1898
2  On Friday, it was revealed that former Milwauk...           3597
3  On Christmas day, Donald Trump announced that ...           2774
4  Pope Francis used his annual Christmas Day mes...           2346

In [42]:
def spl(x):
    l = []
    for i in x.split():
        l.append(i)
    return len(l)

In [56]:
data['number_of_words'] = data['text'].apply(lambda x:len(str(x).split(" ")))

In [57]:
data['number_of_words'].head()

0    516
1    309
2    600
3    475
4    434
Name: number_of_words, dtype: int64

In [60]:
def avg_word_converter(sentence):
    words = sentence.split()
    if (len(words)==0): return 0
    return (sum(len(word) for word in words)/len(words))

data['word_length'] = data['text'].apply(lambda x: avg_word_converter(x))
data[['text','word_length']].head()

                                                text  word_length
0  Donald Trump just couldn t wish all Americans ...     4.804040
1  House Intelligence Committee Chairman Devin Nu...     5.213115
2  On Friday, it was revealed that former Milwauk...     5.168966
3  On Christmas day, Donald Trump announced that ...     5.180180
4  Pope Francis used his annual Christmas Day mes...     4.554762

In [61]:
data['number_of_numbers'] = data['text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['text','number_of_numbers']].head()

                                                text  number_of_numbers
0  Donald Trump just couldn t wish all Americans ...                  4
1  House Intelligence Committee Chairman Devin Nu...                  0
2  On Friday, it was revealed that former Milwauk...                  0
3  On Christmas day, Donald Trump announced that ...                  5
4  Pope Francis used his annual Christmas Day mes...                  0

In [62]:
def find_nonalp(text):
    line = re.findall("[^A-Za-z0-9 ]",text)
    return line

In [63]:
data['non_alp'] = data['text'].apply(lambda x: len(find_nonalp(x)))
data[['text', 'non_alp']].head()

                                                text  non_alp
0  Donald Trump just couldn t wish all Americans ...      121
1  House Intelligence Committee Chairman Devin Nu...       39
2  On Friday, it was revealed that former Milwauk...      148
3  On Christmas day, Donald Trump announced that ...      118
4  Pope Francis used his annual Christmas Day mes...       40

In [77]:
data['number_of_lower_case'] = data['text'].apply(lambda x:len([x for x in x.split() if x.islower()]))

In [78]:
data[['text', 'number_of_lower_case']].head()

                                                text  number_of_lower_case
0  Donald Trump just couldn t wish all Americans ...                   347
1  House Intelligence Committee Chairman Devin Nu...                   225
2  On Friday, it was revealed that former Milwauk...                   414
3  On Christmas day, Donald Trump announced that ...                   339
4  Pope Francis used his annual Christmas Day mes...                   358

In [80]:
data['number_of_upper_case'] = data['text'].apply(lambda x:len([x for x in x.split() if x.isupper()]))

In [81]:
data[['text', 'number_of_upper_case']].head()

                                                text  number_of_upper_case
0  Donald Trump just couldn t wish all Americans ...                     5
1  House Intelligence Committee Chairman Devin Nu...                     3
2  On Friday, it was revealed that former Milwauk...                    42
3  On Christmas day, Donald Trump announced that ...                     5
4  Pope Francis used his annual Christmas Day mes...                     0

In [82]:
text_with_punctuation = "Low life for life cause I'm Heartless!!!!!"
text_without_punctuation  = "".join([char for char in text_with_punctuation if char not in string.punctuation])
print(text_without_punctuation)

Low life for life cause Im Heartless

In [83]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

text_with_stopwords = "You are not a funny person"

In [84]:
text_without_stopwords = "".join([word for word in text_with_stopwords.split() if word not in stop])

print(text_without_stopwords)

Youfunnyperson

In [88]:
text_with_numbers = "I turned 16 at 6/16/2020!"

In [97]:
text_without_numbers = "".join([x for x in text_with_numbers if not x.isdigit()])
print(text_without_numbers)

I turned  at //!

In [98]:
text_with_urls = "Check out my notebook at https://www.kaggle.com/prestonfan/amazon-instrument-reviews-analysis."

In [99]:
cleanr = re.compile('https?://\S+|www\.\S+')
text_without_urls = re.sub(cleanr, '', text_with_urls)

print(text_without_urls)

Check out my notebook at

In [100]:
text_with_html_tags = "<p>Giannis Antetokounmpo</p>"
cleanr = re.compile('<.*?>')
text_without_html_tags = re.sub(cleanr, '', text_with_html_tags)

print(text_without_html_tags)

Giannis Antetokounmpo

In [101]:
text_with_emojis = "🎸 Amazon 🎸 Instrument 🎸 Reviews 🎸 Analysis"

In [102]:
emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  
                           u"\U0001F300-\U0001F5FF"  
                           u"\U0001F680-\U0001F6FF"  
                           u"\U0001F1E0-\U0001F1FF" 
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)

text_without_emojis = emoji_pattern.sub(r'', text_with_emojis)

print(text_without_emojis)

 Amazon  Instrument  Reviews  Analysis

In [103]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

text = "FlightReacts is popping off in the month June, will he get even better and more amazing?"

In [104]:
stemmed_text = " ".join([st.stem(word) for word in text.split()])

print(stemmed_text)

flightreact is pop off in the month june, will he get even better and more amazing?

In [105]:
from nltk.stem import WordNetLemmatizer 
  
lemmatizer = WordNetLemmatizer() 

text = "I like reading and enjoying papers about Natural Language Processing"

In [106]:
lemmatized_text = " ".join([lemmatizer.lemmatize(word) for word in text.split()])

print(lemmatized_text)

I like reading and enjoying paper about Natural Language Processing

In [107]:
freq = pd.Series(' '.join(data['text']).split()).value_counts()[-100:]

freq

grabs?                    1
methodologically          1
Jidda,                    1
Iran.Days                 1
stupidity.Some            1
                         ..
undertone,                1
lip.Staring               1
Ester                     1
ceilings                  1
disabilities.According    1
Length: 100, dtype: int64

In [108]:
freq = list(freq.index)
data['text'] = data['text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['text'].head()

0    Donald Trump just couldn t wish all Americans ...
1    House Intelligence Committee Chairman Devin Nu...
2    On Friday, it was revealed that former Milwauk...
3    On Christmas day, Donald Trump announced that ...
4    Pope Francis used his annual Christmas Day mes...
Name: text, dtype: object

In [111]:
text = "I hopee to eventualy gett a bronz medal in competitiionn!"

In [112]:
from textblob import TextBlob

text = TextBlob(text).correct()
text

TextBlob("I hope to eventually get a bronze medal in competition!")

In [113]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(min_df=0,max_df=1,binary=False,ngram_range=(1,3))

cv_train_text=cv.fit_transform(data['text'])

print(cv_train_text)

  (0, 3255709)	1
  (0, 142337)	1
  (0, 1758717)	1
  (0, 1624785)	1
  (0, 2218705)	1
  (0, 1624788)	1
  (0, 58077)	1
  (0, 1177446)	1
  (0, 2543089)	1
  (0, 2802457)	1
  (0, 3255918)	1
  (0, 2322111)	1
  (0, 726716)	1
  (0, 251247)	1
  (0, 2135471)	1
  (0, 3097552)	1
  (0, 318228)	1
  (0, 3255710)	1
  (0, 2248518)	1
  (0, 2526240)	1
  (0, 1197962)	1
  (0, 824010)	1
  (0, 2182602)	1
  (0, 1461399)	1
  (0, 1157515)	1
  :	:
  (22702, 3167348)	1
  (22702, 2320394)	1
  (22702, 839269)	1
  (22702, 1882110)	1
  (22702, 236924)	1
  (22702, 2608101)	1
  (22702, 1400694)	1
  (22702, 2941968)	1
  (22702, 1533079)	1
  (22702, 2585454)	1
  (22702, 262348)	1
  (22702, 887489)	1
  (22702, 2814551)	1
  (22702, 582453)	1
  (22702, 2002943)	1
  (22702, 2293846)	1
  (22702, 2113060)	1
  (22702, 987065)	1
  (22702, 930071)	1
  (22702, 1356281)	1
  (22702, 2235703)	1
  (22702, 1168132)	1
  (22702, 1488648)	1
  (22702, 2119876)	1
  (22702, 3322745)	1

In [115]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf=TfidfVectorizer(min_df=0,max_df=1,use_idf=True,ngram_range=(1,2))
tf_idf_text=tf.fit_transform(data['text'])

print(tf_idf_text)

  (0, 511143)	0.10050378152592122
  (0, 331514)	0.10050378152592122
  (0, 811866)	0.10050378152592122
  (0, 345814)	0.10050378152592122
  (0, 722791)	0.10050378152592122
  (0, 14349)	0.10050378152592122
  (0, 18963)	0.10050378152592122
  (0, 584135)	0.10050378152592122
  (0, 408382)	0.10050378152592122
  (0, 294928)	0.10050378152592122
  (0, 13114)	0.10050378152592122
  (0, 788843)	0.10050378152592122
  (0, 788830)	0.10050378152592122
  (0, 327579)	0.10050378152592122
  (0, 702942)	0.10050378152592122
  (0, 701285)	0.10050378152592122
  (0, 294014)	0.10050378152592122
  (0, 15221)	0.10050378152592122
  (0, 709460)	0.10050378152592122
  (0, 631765)	0.10050378152592122
  (0, 618373)	0.10050378152592122
  (0, 231278)	0.10050378152592122
  (0, 275639)	0.10050378152592122
  (0, 342593)	0.10050378152592122
  (0, 13103)	0.10050378152592122
  :	:
  (22702, 615843)	0.06967330142916163
  (22702, 439865)	0.06967330142916163
  (22702, 196228)	0.06967330142916163
  (22702, 504621)	0.06967330142916163
  (22702, 81004)	0.06967330142916163
  (22702, 334272)	0.06967330142916163
  (22702, 787005)	0.06967330142916163
  (22702, 312977)	0.06967330142916163
  (22702, 396147)	0.06967330142916163
  (22702, 103986)	0.06967330142916163
  (22702, 510594)	0.06967330142916163
  (22702, 130177)	0.06967330142916163
  (22702, 56220)	0.06967330142916163
  (22702, 420414)	0.06967330142916163
  (22702, 131410)	0.06967330142916163
  (22702, 752089)	0.06967330142916163
  (22702, 154587)	0.06967330142916163
  (22702, 244259)	0.06967330142916163
  (22702, 385556)	0.06967330142916163
  (22702, 583916)	0.06967330142916163
  (22702, 244386)	0.06967330142916163
  (22702, 101180)	0.06967330142916163
  (22702, 84372)	0.06967330142916163
  (22702, 467001)	0.06967330142916163
  (22702, 103985)	0.06967330142916163

In [117]:
class A:
    a = 10
    def __init__(self):
        self.b = 20
        
t1 = A()
t1.b = 777
t1.a = 888
t2 = A()
print(t1.a,t1.b)
print(t2.a,t2.b)
print(A.a)

888 777
10 20
10

In [147]:
class Test:
    #a = 10
    def __init__(self):
        a = 999
   
        
        
#t = Test()

print(t.a)
print(t.a)
print(Test.a)

AttributeError: 'Test' object has no attribute 'a'

In [153]:
 class P:
        def m1(self):
            pass
class C(P):
    pass
p = P()
p.m1()
print(C.mro())
print(P.mro())

[<class '__main__.C'>, <class '__main__.P'>, <class 'object'>]
[<class '__main__.P'>, <class 'object'>]

In [168]:
class E:
    a = 10
    def __init__(self):
        self.b = 20
        print("hh")
    def m1(self):
        print("Engine Class Is there")
        
class C(E):
    def __init__(self):
        super().__init__()
        self.e = 30
        print("ff")

    def m2(self):
        print(self.a)
        #print(self.b)
        
        
c = C()
c.m1()
print(c.a)
print(c.e)

hh
ff
Engine Class Is there
10
30

In [229]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def m1(self):
        print("name",self.name)
        print("age",self.age)
class Stu(Person):
    def __init__(self,name,age,marks,rollno):
        super().__init__(name,age)
        self.marks = marks
        self.rollno = rollno
    def m1(self):
        super().m1()
        print("marks",self.marks)
        print("rollno",self.rollno)
        
class Tea(Person):
    def __init__(self,name,age,salary,sub):
        super().__init__(name,age)
        self.salary = salary
        self.sub = sub
    def m1(self):
        super().m1()
        print("Salary",self.salary)
        print("sub",self.sub)

class Tt(Tea):
    pass
    
        
        
        
s = Stu("rahu",22,99,101)
t = Tea("ram",29,9900,"math")
t1 = Tt("x",2,3,"m")
s.m1()
t.m1()
#super(Tea,self).m1()

marks 99
rollno 101
name ram
age 29
Salary 9900
sub math

In [219]:
from random import *
l=[]
for i in range(10):
    x=randint(5,6)
    l.append(x)
print(l)

[6, 5, 6, 5, 5, 5, 6, 5, 5, 6]
6

In [210]:
class Person:
    def Hello(self, name=None):
        if name is not None:
            print('Hello ' + name)
        else:
            print('Hello ')

obj = Person()

obj.Hello()

obj.Hello('Edureka')

Hello
Hello Edureka

In [211]:
class Compute:
    def area(self, x = None, y = None):
        if x != None and y != None:
            return x * y
        elif x != None:
            return x * x
        else:
            return 0
# object
obj = Compute()
# zero argument
print("Area Value:", obj.area())
# one argument
print("Area Value:", obj.area(4))
# two argument
print("Area Value:", obj.area(3, 5))

Area Value: 0
Area Value: 16
Area Value: 15

In [213]:
from random import *
n = random()
print(n)

0.0898964611094345

In [224]:
from random import *
l = []
for i in range(10):
    n = randint(0,22)
    l.append(n)
print(tuple(l))

(20, 14, 9, 13, 22, 0, 3, 8, 15, 14)

In [225]:
import random
#Generate 5 random numbers between 10 and 30
randomlist = random.sample(range(10, 30), 5)
print(randomlist)

[28, 18, 29, 12, 21]

In [227]:
from math import pi
class Shape:
    def __init__(self, name):
        self.name = name
    def area(self):
        pass
    def fact(self):
        return "I am a two-dimensional shape."
    def __str__(self):
        return self.name
class Square(Shape):
    def __init__(self, length):
        super().__init__("Square")
        self.length = length
    def area(self):
        return self.length**2
    def fact(self):
        return "Squares have each angle equal to 90 degrees."
class Circle(Shape):
    def __init__(self, radius):
        super().__init__("Circle")
        self.radius = radius
    def area(self):
        return pi*self.radius**2
a = Square(4)
b = Circle(7)
print(b)
print(b.fact())
print(a.fact())
print(b.area())

Circle
I am a two-dimensional shape.
Squares have each angle equal to 90 degrees.
153.93804002589985

In [236]:
class Tomato(): 
     def type(self): 
        print("Vegetable") 
        
     def color(self):
        print("Red1") 
class Apple(): 
     def type(self): 
        print("Fruit") 
     def color(self): 
        print("Red") 
      
def func(obj): 
       obj.type() 
       obj.color()
        
obj_tomato = Tomato() 
obj_apple = Apple() 
obj_tomato.type()
obj_tomato.color()
obj_apple.type()
obj_apple.color()
#func(obj_tomato) 
#func(obj_apple)

Vegetable
Red1
Fruit
Red

In [240]:
class Car:

    def __init__(self):
        self.__updateSoftware()

    def drive(self):
        print('driving')

    def __updateSoftware(self):
        print('updating software')

redcar = Car()
redcar.drive()

updating software
driving

AttributeError: 'Car' object has no attribute '__updateSoftware'

In [241]:
dir(random)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_BuiltinMethodType',
 '_MethodType',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_inst',
 '_itertools',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [249]:
from random import *
l = []
for i in range(10):
   
    x = random()
    l.append(x)
    print(x)
print(l)

0.561744097427723
0.6812060906660279
0.8503969899172359
0.5113954301292787
0.9371078137351918
0.5860923829841155
0.7641834862155069
0.33430113797668537
0.8794716158784228
0.02972920620297881
[0.561744097427723, 0.6812060906660279, 0.8503969899172359, 0.5113954301292787, 0.9371078137351918, 0.5860923829841155, 0.7641834862155069, 0.33430113797668537, 0.8794716158784228, 0.02972920620297881]

In [250]:
from random import *
for i in range(10):
    print(randint(1,100))

13
51
93
36
25
73
43
68
91
2

In [251]:
from random import *
for i in range(10):
    print(uniform(1,100))

14.378578545806842
70.19215638719517
35.52879731776952
8.726866246450609
33.65087070667851
16.75465480907469
14.631689890492499
39.78970668156614
78.18050541438845
61.15900643000334

In [271]:
randrange(1,11,2)

3

In [272]:
from random import *
l = ['a','b','c','d']
for i in range(10):
    print(choice(l))

a
a
c
d
d
a
d
a
a
d

In [278]:
from random import *
for i in range(10):
    print((randint(0,9)),(randint(0,9)),(randint(0,9)),(randint(0,9)),(randint(0,9)),(randint(0,9)),sep="")

163837
543564
361007
844907
554368
767788
017573
836864
743026
445295

In [281]:
chr(65)

'A'

In [296]:
for i in range(10):
    print(chr(randint(65,122)),randint(0,9),chr(randint(65,122)),randint(0,9),chr(randint(65,122)),randint(65,122),sep="")

]0P0D116
l5c4Z108
j7U4b115
c9D9y92
B0g4v105
]0b4K112
S5U1b67
n5k2n74
e7j6N75
D7P2r88

In [289]:
chr(randint(65,122))

'x'

In [300]:
>>> class A:pass
#>>> A.__name__
#'A'
#>>> A().__class__.__name__       #using an instance of that class
#'A'

In [303]:
def func(n=[]):
        pass
func([1,2,3])
func()
n

14