In [32]:
people = {
    'first': ['Vikram','Karan','Rahul',"Ajay"],
    'last' : ['Kumar','Parsan','Roy','Sharma'],
    'email': ['VikraMKumar@gmail.com','KaranPrasan@email.com','RahuLRoy@email.com',"AjaySharma@gmail.com"]
}

In [33]:
import pandas as pd

In [34]:
df = pd.DataFrame(people)

In [35]:
df

    first    last                  email
0  Vikram   Kumar  VikraMKumar@gmail.com
1   Karan  Parsan  KaranPrasan@email.com
2   Rahul     Roy     RahuLRoy@email.com
3    Ajay  Sharma   AjaySharma@gmail.com

In [36]:
df.sort_values(by='last')

    first    last                  email
0  Vikram   Kumar  VikraMKumar@gmail.com
1   Karan  Parsan  KaranPrasan@email.com
2   Rahul     Roy     RahuLRoy@email.com
3    Ajay  Sharma   AjaySharma@gmail.com

In [37]:
df.sort_values(by='last',ascending = False)

    first    last                  email
3    Ajay  Sharma   AjaySharma@gmail.com
2   Rahul     Roy     RahuLRoy@email.com
1   Karan  Parsan  KaranPrasan@email.com
0  Vikram   Kumar  VikraMKumar@gmail.com

In [38]:
df.sort_values(by=['last','first'],ascending = False)

    first    last                  email
3    Ajay  Sharma   AjaySharma@gmail.com
2   Rahul     Roy     RahuLRoy@email.com
1   Karan  Parsan  KaranPrasan@email.com
0  Vikram   Kumar  VikraMKumar@gmail.com

In [40]:
df.sort_values(by=['last','first'],ascending = [False,True],inplace=True)

In [41]:
df

    first    last                  email
3    Ajay  Sharma   AjaySharma@gmail.com
2   Rahul     Roy     RahuLRoy@email.com
1   Karan  Parsan  KaranPrasan@email.com
0  Vikram   Kumar  VikraMKumar@gmail.com

In [42]:
df.sort_index()

    first    last                  email
0  Vikram   Kumar  VikraMKumar@gmail.com
1   Karan  Parsan  KaranPrasan@email.com
2   Rahul     Roy     RahuLRoy@email.com
3    Ajay  Sharma   AjaySharma@gmail.com

In [43]:
 df['last'].sort_values()

0     Kumar
1    Parsan
2       Roy
3    Sharma
Name: last, dtype: object

In [ ]:
df.sort_